@import '../../../../../../assets/mixins/mixins';

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 150px;
  height: 200px;
  border: 2px solid #000;
  margin: 10px;

  &__name {
    @include calibri-text();
    font-size: 20px;

    margin: 15px;
  }

  &__actions-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 55px;

    .quantity {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__span {
        @include calibri-text();
        font-size: 16px;
      }

      &__count {
        @include calibri-text();
        font-size: 16px;
      }
    }

    .price {
      @include calibri-text();
      font-size: 16px;
    }
  }

  &__add-button {
    margin-top: 10px;
  }
}